nav {
  width: 100%;
  margin: 1rem auto;
  display: flex;
}

ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
}

li {
  color: #FFFFFF;
  background-color: #3A3C46;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
  float: left;
  white-space: nowrap;
  display: block;
}

li:hover,
li:focus-within {
  background: #2B2C33;
  transition-duration: 0.2s;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

.nav-item {
  font-size: 14px;
  font-weight: bold;
}
