<nav>
  <div class="nav-left">
  <ul>
    <li class="nav-item"><a class="nav-link" routerLink="hirek">Hírek</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="ulesek">Ülések</a></li>
    <li class="nav-item"><a class="nav-link">Szervezet<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet/elnokseg">Elnökség</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet/kabinet">Kabinet</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet/bizottsagok">Bizottságok</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet/kgy">Küldöttgyűlés</a></li>
        <li class="subnav-item"><a class="nav-link" href="http://ehok.elte.hu/" target="_blank">ELTE EHÖK</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link">Átláthatóság<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" href="https://www.elte.hu/file/EHOK_ASZ.pdf" target="_blank">Alapszabály</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag/jegyzokonyvek">Jegyzőkönyvek</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag/palyazatok">Pályázatok</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag/beszamolok">Beszámolók</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag/kozeletik">Közéleti ösztöndíjak</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link">Ösztöndíjak<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/alaptamogatas">Alaptámogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/rendszeres-szoc">Rendszeres szociális támogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/rendkivuli-szoc">Rendkívüli szociális támogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/rendszeres-kari">Rendszeres kari ösztöndíjak</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/egyszeri-kari">Egyszeri kari ösztöndíjak</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak/tanulmanyi">Tanulmányi ösztöndíj</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link">Szolgáltatások<i class="arrow down"></i></a>
      <ul>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok/sorompo">Sorompó regisztráció</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok/belepokartya">Belépőkártya regisztráció</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok/bufek">Büfék, étkezők</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok/iroda">Iroda nyitvatartások</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="https://conf.ikhok.elte.hu/" target="_blank">Tudástár</a></li>
  </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li class="nav-item"><a class="nav-link" routerLink="bejelentkezes"><fa-icon [icon]="faUser" title="Bejelentkezés"></fa-icon></a>
      </li>
      <li class="nav-item"><a class="nav-link"><fa-icon [icon]="faBars"></fa-icon></a>
        <ul>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/profil">Profil</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/uj-bejegyzes">Új bejegyzés</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/beszamolok/sajat">Saját beszámolók</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/beszamolok">Beszámolók összegzése</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/hatarozatok">Határozatok tára</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/sorompo-admin">Sorompó adminisztráció</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/belepokartya-admin">Belépőkártya adminisztráció</a></li>
          <li class="subnav-item"><a class="nav-link" routerLink="sidenav/admin">Admin panel</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
