<nav>
  <ul>
    <li class="nav-item"><a class="nav-link" routerLink="hirek">Hírek</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="ulesek">Ülések</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="szervezet">Szervezet<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet-elnokseg">Elnökség</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet-kabinet">Kabinet</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet-bizottsagok">Bizottságok</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet-kgy">Küldöttgyűlés</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szervezet-ehok">ELTE EHÖK</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="atlathatosag">Átláthatóság<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag-alapszabaly">Alapszabály</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag-jegyzokonyvek">Jegyzőkönyvek</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag-palyazatok">Pályázatok</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag-beszamolok">Beszámolók</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="atlathatosag-kozeletik">Közéleti ösztöndíjak</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="osztondijak">Ösztöndíjak<i class="arrow down"></i></a>
      <ul class="dropdown">
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-alaptamogatas">Alaptámogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-rendszeres-szoc">Rendszeres szociális támogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-rendkivuli-szoc">Rendkívüli szociális támogatás</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-rendszeres-kari">Rendszeres kari ösztöndíjak</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-egyszeri-kari">Egyszeri kari ösztöndíjak</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="osztondijak-tanulmanyi">Tanulmányi ösztöndíj</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="szolgaltatasok">Szolgáltatások<i class="arrow down"></i></a>
      <ul>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok-sorompo">Sorompó regisztráció</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok-belepokartya">Belépőkártya regisztráció</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok-bufek">Büfék, étkezők</a></li>
        <li class="subnav-item"><a class="nav-link" routerLink="szolgaltatasok-iroda">Iroda nyitvatartások</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="tudastar">Tudástár</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="international">International</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>
