<div class="container">
  <div class="header">
    <h1>Küldöttgyűlés</h1>
  </div>
  <table>
      <tr>
        <th [attr.colspan]="colspan">Küldöttgyűlés</th>
      </tr>
      <tr>
        <!-- dinamikus colspan attribútom változtatás (one way data binding)-->
        <td class="committeeBrief" [attr.colspan]="colspan">{{ brief }}</td>
      </tr>
      <tr *ngFor="let member of getObject()" class="membersInfo">
        <td>{{ member.fullName }}</td>
        <td>{{ member.firstCommittee }}</td>
        <td *ngIf="member.secondCommittee">{{ member.secondCommittee }}</td>
        <td *ngIf="isAuthenticated">
          <div class="iconClass">
            <a [routerLink]="['/sidenav/admin/szerkesztes', member.postType, member._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a bejegyzést?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(member._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
        </td>
      </tr>
  </table>
  </div>
