<div class="container">
  <div class="header">
    <h1>Küldöttgyűlés</h1>
  </div>
  <ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#13294b" type = "ball-beat" [fullScreen] = "false"></ngx-spinner>
  <table>
      <tr>
        <th [attr.colspan]="colspan">Küldöttgyűlés</th>
      </tr>
      <tr>
        <td class="committeeBrief" [attr.colspan]="colspan">{{ brief }}</td>
      </tr>
      <ng-container *ngFor="let member of getObject()" >
        <tr *ngIf="member.firstCommittee !== 'eb' && member.firstCommittee !== 'vb'" class="membersInfo">
          <td>{{ member.fullName }}</td>
          <td>{{ getCommitteeName(member.firstCommittee) }}</td>
          <td *ngIf="member.secondCommittee">{{ getCommitteeName(member.secondCommittee) }}</td>
          <td *ngIf="!member.secondCommittee">-</td>
          <td *ngIf="isAuthenticated && getAuthLevel() == 1">
            <div class="iconClass">
              <a [routerLink]="['/sidenav/admin/szerkesztes', member.postType, member._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
              <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Biztosan törlöd a bejegyzést?</p>
                  <button type="button" class="btn button-sub" (click)="deletePost(member._id)">Igen</button>
                  <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
                </div>
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-container>
  </table>
  </div>
