<div class="container">
  <table *ngFor="let kgy of kgyObject.slice().reverse()">
      <tr>
        <th colspan="3">Küldöttgyűlés {{kgy.year}}</th>
      </tr>
      <tr>
        <td class="committeeBrief" colspan="3">{{ kgy.brief }}</td>
      </tr>
      <tr *ngFor="let member of kgy.members" class="membersInfo">
        <td>{{ member.name }}</td>
        <td *ngIf="member.committees.length == 1; else elseBlock" class="singleMember">{{ member.committees }}</td>
        <ng-template #elseBlock>
          <td>{{ member.committees[0] }}</td>
          <td>{{ member.committees[1] }}</td>
        </ng-template>
      </tr>
  </table>
  </div>
