 <form (ngSubmit)="onSubmit(adminForm)" #adminForm="ngForm">
  <div ngModelGroup="adminGroup" class="group">

    <div>
      <label>Azonosító: </label>
      <input
        type="text"
        ngModel
        name="identifier"
        required>
      <br>
    </div>

    <div>
      <label>Jelszó: </label>
      <input
        type="password"
        ngModel
        name="password"
        required
        placeholder="A felhasználó módosítsa első belépéskor!">
      <br>
    </div>

    <div>
      <label>Név: </label>
      <input
        type="text"
        ngModel
        name="fullName"
        required>
      <br>
    </div>

    <div>
      <label>Pozíció: </label>
      <input
        type="text"
        ngModel
        name="position"
        placeholder="pl.: Tudományos referens"
        required>
      <br>
    </div>

    <div>
      <label>E-mail cím: </label>
      <input
        type="email"
        [ngModel]=""
        name="email"
        required
        placeholder="A HÖK levelezésének címe">
      <br>
    </div>

    <div>
      <label>Jogosultságok: </label>
      <select
        ngModel
        name="permissions"
        required>
        <option value="admin">Admin</option>
        <option value="elnokseg">Elnökség</option>
        <option value="kabinet">Kabinet</option>
        <option value="jegyzokonyvvezeto">Jegyzőkönyvvezető</option>
        <option value="kuldott">Küldött</option>
      </select>
    </div>

    <div>
      <button
        type="button"
        class="btn button-main"
        (click)="openModal(template)"
        [disabled]="!adminForm.valid">Küldés</button>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Biztosan el szeretnéd menteni a bejegyzést?</p>
            <button type="submit" class="btn button-sub" (click)="onSubmit(adminForm)">Igen</button>
            <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
          </div>
        </ng-template>
      </div>
  </div>

</form>
