<div class="container">
  <div class="header">
    <h1>Sorompó regisztráció</h1>
  </div>
  <div class="container">
    <h3>Miért szükséges a sorompó regisztráció?</h3>
    <p>Autóval, esetleg motorral szeretnél bejárni az óráidra, és mindenképpen az egyetem épületei mellett parkolnál? Erre csak akkor van lehetőséged, ha regisztrálod járművedet az épületeüzemeltetésnél.</p>
    <p>A lent található regisztrációs űrlap megfelelő kitöltésével regisztrálhatod autódat vagy motorodat annak érdekében, hogy az egyetem területén belül is tudj parkolni. A belső parkolót sorompóval zárták el, így amennyiben bekerül rendszámod a rendszerbe, onnantól a portaszolgálat bármikor be fog téged engedni egy gombnyomásra. Amennyiben regisztrálsz, hamarosan megkeresünk Téged, amint sikeresen továbbítottuk igényedet az illetékesek felé!</p>
    <p>Kérdés esetén keressetek minket a gazdasag@ikhok.elte.hu e-mail címen!</p>
  </div>
  <header>Sorompó Regisztráció</header>
  <div class="register">
      <form (ngSubmit)="onSubmit(barRegisterForm)" #barRegisterForm="ngForm">
        <div ngModelGroup="barrierRegistryGroup" class="group">
        <div>
          <label>Név: </label>
          <input
            type="text"
            [ngModel]="editablePost.fullName"
            name="fullName"
            required>
          <br>
        </div>

        <div>
          <label>Neptun-kód: </label>
          <input
            type="text"
            [ngModel]="editablePost.neptun"
            name="neptun"
            required
            maxlength="6"
            minlength="6">
          <br>
        </div>

        <div>
          <label>E-mail cím: </label>
          <input
            type="email"
            [ngModel]="editablePost.email"
            name="email"
            required
            email>
          <br>
        </div>

        <div>
          <label>Telefonszám: </label>
          <input
            type="text"
            [ngModel]="editablePost.phone"
            name="phone"
            required
            minlength="10"
            pattern="[0-9 +]+"
            placeholder="+36301234567">
          <br>
        </div>

        <div>
          <label>Rendszám: </label>
          <input
            type="text"
            [ngModel]="editablePost.plate"
            name="plate"
            required
            maxlength="6"
            minlength="6">
          <br>
        </div>

        <div>
          <label>Autó típusa: </label>
          <input
            type="text"
            [ngModel]="editablePost.type"
            name="type"
            required>
          <br>
        </div>

        <div>
          <label>Belépőkártya száma: </label>
          <input
            type="text"
            [ngModel]="editablePost.card"
            name="card"
            maxlength="11"
            minlength="11"
            pattern="[0-9]+"
            placeholder="Ha van">
          <br>
        </div>

        <div>
          <label>Igénylés indoka: </label>
          <textarea
            [ngModel]="editablePost.reason"
            name="reason"
            rows="3"
            required>
          </textarea>
          <br><br>
        </div>

        <div>
          <button
            type="button"
            class="btn button-main"
            (click)="openModal(template)"
            [disabled]="!barRegisterForm.valid">Küldés</button>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan el szeretnéd menteni a regisztrációdat?</p>
                <button type="submit" class="btn button-sub" (click)="onSubmit(barRegisterForm)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
        </div>
      </form>
  </div>
</div>
