<div class="container">
  <div class="header">
    <h1>Új bejegyzés</h1>
  </div>
  <header>Új bejegyzés létrehozása</header>
  <div class="createContent">
    <div class="group">
    <div>
      <label>Bejegyzés típusa: </label>
      <select
        [(ngModel)]="selectedOption"
        name="postType"
        required>
        <option value="hir" selected>Hír</option>
        <option value="ules">Bizottsági ülés</option>
        <option value="beszamolo">Átláthatóság - Beszámoló</option>
        <option value="jegyzokonyv">Átláthatóság - Jegyzőkönyv</option>
        <option value="palyazat">Átláthatóság - Pályázat</option>
        <option value="b-hatarozat">Belső - Határozat</option>
        <option value="b-beszamolo">Belső - Havi beszámoló</option>
      </select>
    </div>
  </div>

    <div *ngIf="selectedOption == 'hir'">
      <app-uj-bejegyzes-hirek></app-uj-bejegyzes-hirek>
    </div>

  </div>
</div>
