<div class="container">
  <div class="header">
    <h1>Bejegyzés létrehozása, szerkesztése</h1>
  </div>
  <header>Bejegyzés létrehozása, szerkesztése</header>
  <div class="register">
    <div class="group">
      <div>
        <label>Bejegyzés típusa: </label>
        <select
          [(ngModel)]="selectedOption"
          name="postType"
          required>
          <option value="hirek" *ngIf="getAuthLevel() <= 3">Hír</option>
          <option value="ulesek" *ngIf="getAuthLevel() <= 2">Bizottsági ülés</option>
          <option value="beszamolok" *ngIf="getAuthLevel() <= 2">Átláthatóság - Beszámoló</option>
          <option value="jegyzokonyvek" *ngIf="getAuthLevel() <= 2">Átláthatóság - Jegyzőkönyv</option>
          <option value="palyazatok" *ngIf="getAuthLevel() <= 2">Átláthatóság - Pályázat</option>
          <option value="hatarozatok" *ngIf="getAuthLevel() <= 2">Belső - Határozat</option>
          <option value="sajat" *ngIf="getAuthLevel() <= 3">Belső - Havi beszámoló</option>
        </select>
      </div>
    </div>

      <div *ngIf="selectedOption == 'hirek'">
        <app-uj-bejegyzes-hirek></app-uj-bejegyzes-hirek>
      </div>

      <div *ngIf="selectedOption == 'ulesek'">
        <app-uj-bejegyzes-ulesek></app-uj-bejegyzes-ulesek>
      </div>

      <div *ngIf="selectedOption == 'jegyzokonyvek'">
        <app-uj-bejegyzes-jegyzokonyvek></app-uj-bejegyzes-jegyzokonyvek>
      </div>

      <div *ngIf="selectedOption == 'beszamolok'">
        <app-uj-bejegyzes-beszamolok></app-uj-bejegyzes-beszamolok>
      </div>

      <div *ngIf="selectedOption == 'palyazatok'">
        <app-uj-bejegyzes-palyazatok></app-uj-bejegyzes-palyazatok>
      </div>

      <div *ngIf="selectedOption == 'hatarozatok'">
        <app-uj-bejegyzes-hatarozatok></app-uj-bejegyzes-hatarozatok>
      </div>

      <div *ngIf="selectedOption == 'sajat'">
        <app-uj-bejegyzes-sajat-beszamolok></app-uj-bejegyzes-sajat-beszamolok>
      </div>

  </div>
</div>
