<div class="postContainer">
    <div class="post" *ngFor="let hir of getObject() | paginate: { itemsPerPage: 24, currentPage: p }">
        <p class="postHeader">{{ hir.title }}</p>
        <p class="postContent">{{ hir.content }}</p>
        <div class="postData">
          {{ hir.date }}
          <div class="postIcons" *ngIf="isAuthenticated && getAuthLevel() <= 2">
            <a [routerLink]="['/sidenav/uj-bejegyzes/szerkesztes', hir.postType, hir._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a bejegyzést?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(hir._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
        </div>
    </div>
</div>
<div class="paginationClass">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Előző"
    nextLabel="Következő"
    class="pagination"></pagination-controls>
</div>
