.postContainer {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.post {
  width: 350px;
  min-height: 300px;
  margin: 20px 30px;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex: 1 0 auto;
  overflow: hidden;
}

.postHeader {
  background-color: #13294B;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 16px;
}

.postContent {
  min-height: 236px;
  background-color: #F1F2F1;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  white-space: pre-wrap;
}

.postData {
  padding: 5px 10px;
  background-color: #13294B;
  color: #FFFFFF;
  font-size: 12px;
  margin: auto;
}

.postIcons {
  text-align: right;
  float: right;
}

fa-icon {
  color: white;
  cursor: pointer;
  padding: 5px;
}

p {
  word-wrap: break-word;
}

.pagination /deep/ .ngx-pagination .current {
  background: #13294B;
  color: white;
}

.pagination /deep/ .ngx-pagination{
  text-align: center;
  margin: 50px auto;
  font-family: Montserrat, sans-serif;
}
