<div class="postContainer">
    <div class="post" *ngFor="let hir of getObject() | paginate: { itemsPerPage: 24, currentPage: p }">
        <p class="postHeader">{{ hir.title }}</p>
        <p class="postContent">{{ hir.content }}</p>
        <div class="postData">
          {{ hir.date }}
          <div class="postIcons">
            <fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="onDeletePost(hir._id)"></fa-icon>
          </div>
        </div>
    </div>
</div>

<pagination-controls
(pageChange)="p = $event"
previousLabel="Előző"
nextLabel="Következő"
class="pagination"></pagination-controls>
