<div class="mainClass">
  <div class="header">
    <h1>Belépőkártya adminisztráció</h1>
  </div>
  <table class="container" id="changesList">
    <tr>
      <th class="mainHeader" colspan="12">Belépőkártya kérések</th>
    </tr>
    <tr class="filesHeader">
      <th>Név</th>
      <th>Neptun-kód</th>
      <th>E-mail cím</th>
      <th>Diákigazolvány száma</th>
      <th>Belépőkártya száma</th>
      <th>Jogosultság</th>
      <th>Regisztráció időpontja</th>
      <th>Leadás időpontja</th>
      <th><fa-icon [icon]="faComment"></fa-icon></th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of getObject()">
      <tr class="filesData" *ngIf="!data.isApproved" >
        <td>{{data.fullName}}</td>
        <td>{{data.neptun}}</td>
        <td>{{data.email}}</td>
        <td>{{data.studentId}}</td>
        <td>{{data.card}}</td>
        <td>{{data.permissions}}</td>
        <td>{{data.date}}</td>
        <td *ngIf="data.returnDate != ' ' && !data.returnDate.includes('undefined') ">{{data.returnDate}}</td>
        <td *ngIf="data.returnDate == ' ' || data.returnDate.includes('undefined') ">-</td>
        <td>
          <ng-template #tooltiptemplate>
            <p>{{data.reason}}</p>
          </ng-template>
          <p [tooltip]="tooltiptemplate" triggers="hover" placement="left" class="ttipclass"><b>[M]</b></p>
        </td>
        <td>
          <a [routerLink]="['/sidenav/admin/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a regisztrációt?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
        </td>
      </tr>
    </ng-container>
  </table>

  <table class="container" id="cardList">
    <tr>
      <th class="mainHeader" colspan="12">Aktív belépőkártyák listája</th>
    </tr>
    <tr class="filesHeader">
      <th>Név</th>
      <th>Neptun-kód</th>
      <th>E-mail cím</th>
      <th>Diákigazolvány száma</th>
      <th>Belépőkártya száma</th>
      <th>Jogosultság</th>
      <th>Regisztráció időpontja</th>
      <th>Leadás időpontja</th>
      <th><fa-icon [icon]="faComment"></fa-icon></th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of getObject()">
      <tr class="filesData" *ngIf="data.isApproved" >
        <td>{{data.fullName}}</td>
        <td>{{data.neptun}}</td>
        <td>{{data.email}}</td>
        <td>{{data.studentId}}</td>
        <td>{{data.card}}</td>
        <td>{{data.permissions}}</td>
        <td>{{data.date}}</td>
        <td *ngIf="data.returnDate != ' ' && data.returnDate && data.returnDate != ' undefined'; else elseBlock">{{data.returnDate}}</td>
        <ng-template #elseBlock><td>-</td></ng-template>
        <td>
          <ng-template #tooltiptemplate>
            <p>{{data.reason}}</p>
          </ng-template>
          <p [tooltip]="tooltiptemplate" triggers="hover" placement="left" class="ttipclass"><b>[M]</b></p>
        </td>
        <td>
          <a [routerLink]="['/sidenav/admin/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a regisztrációt?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
