.pagination /deep/ .ngx-pagination .current {
  background: #13294B;
  color: white;
}

.pagination /deep/ .ngx-pagination{
  text-align: center;
  margin: 50px auto;
  font-family: Montserrat, sans-serif;
}
