<div class="mainClass">
  <div class="header">
    <h1>Pályázatok</h1>
  </div>
  <ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#13294b" type = "ball-beat" [fullScreen] = "false"></ngx-spinner>
  <table class="container">
    <tr class="filesHeader">
      <th class="centeredClass"><fa-icon [icon]="faFile"></fa-icon></th>
      <th>Név <button (click)="onSortByName()"><fa-icon [icon]="faChevronDown"></fa-icon></button></th>
      <th>Feltöltés dátuma <button (click)="onSortByUploadDate()"><fa-icon [icon]="faChevronDown"></fa-icon></button></th>
      <th class="centeredClass"><fa-icon [icon]="faDownload"></fa-icon></th>
      <th class="centeredClass" *ngIf="isAuthenticated && getAuthLevel() <= 2">Műveletek </th>
    </tr>
    <tr class="filesData" *ngFor="let file of getObject() | paginate: { itemsPerPage: 24, currentPage: p }">
      <td class="centeredClass"><fa-icon [icon]="faFilePdf"></fa-icon></td>
      <td>{{file.title}}</td>
      <td>{{file.date}}</td>
      <td class="centeredClass"><a [href]="file.file" [download]="file.title" download target="_blank">Letöltés</a></td>
      <td class="centeredClass" *ngIf="isAuthenticated && getAuthLevel() <= 2">
        <a [routerLink]="['/sidenav/uj-bejegyzes/szerkesztes', file.postType, file._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
        <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Biztosan törlöd a bejegyzést?</p>
            <button type="button" class="btn button-sub" (click)="deletePost(file._id)">Igen</button>
            <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
<div class="paginationClass">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Előző"
    nextLabel="Következő"
    class="pagination"></pagination-controls>
</div>
