<nav>
  <ul>
    <li class="nav-item"><a class="nav-link" routerLink="kuldottgyules">Küldöttgyűlés</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="elnokseg">Elnökség</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="kabinet">Kabinet</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="hjb">Hallgatói Jóléti Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="kombiz">Kommunikációs Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="kb">Külügyi Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="szb">Szervező Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="tb">Tanulmányi Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="eb">Ellenőrző Bizottság</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="vb">Választási Bizottság</a></li>
  </ul>
</nav>
