<div class="container">
  <div class="header">
    <h1>Rendkívüli Szociális Támogatás</h1>
  </div>
  <div class="content">
    <h3>Mi az a Rendkívüli szociális támogatás?</h3>
    <p>Az <b>Rendkívüli szociális támogatás</b> egy egyösszegű ösztöndíjat jelent, mely pályázat útján igényelhető. Ezen szociális alapú ösztöndíj célja a szociális helyzet váratlan romlásának enyhítésére folyósított egyszeri juttatás. Rendkívüli szociális eseménynek minősül az odaítélés szempontjából minden, a hallgató, illetőleg a családja anyagi körülményeit váratlanul, átmenetileg kedvezőtlenül befolyásoló esemény, különösen:</p>
      <ul>
        <li>gyermekszületés,</li>
        <li>haláleset,</li>
        <li>munkanélkülivé válás,</li>
        <li>súlyos baleset vagy</li>
        <li>vagyoni kár.</li>
      </ul>
    <p>A Rendkívüli szociális támogatásra pályázhatnak azok a teljes idejű, nappali képzésen tanuló, a pályázás félévében aktív státuszú hallgatók, akik a tanulmányaikat alap- vagy mesterképzésben, osztatlan képzésben, felsőoktatási szakképzésben, vagy doktori képzésben:</p>
    <ul>
      <li>államilag támogatott/állami ösztöndíjas (Nftv. 114/D. § (3) bekezdés) formában folytatják, vagy</li>
      <li>akik államilag támogatott vagy állami ösztöndíjas képzési formában kezdték meg tanulmányaikat, és az adott szakon, szakképzésben megkezdett féléveiknek száma alapján jogosultak lennének államilag támogatott képzésben való részvételre és nem merítették még ki a számukra az Nftv. 47. §-ában biztosított támogatási időt.</li>
    </ul>
    <p>Ha a hallgató egy időben több felsőoktatási intézménnyel is hallgatói jogviszonyban áll, akkor abban a felsőoktatási intézményben részesülhet ezekben a támogatásokban, amellyel elsőként létesített államilag támogatott/magyar állami ösztöndíjas hallgatói jogviszonyt.</p>
    <h3>Hogyan lehet rájuk pályázni?</h3>
    <p>A Neptun rendszerbe belépve az Ügyintézés -> Kérvények -> Kitöltendő kérvények menüpont alatt megtalálhatjátok a Rendkívüli szociális támogatás kérvényét, és a '+' jelre kattintva kitölthetitek a pályázati kiírásnak megfelelően.</p>
    <p>A pályázati kiírást, illetve a BNO kódok táblázatát itt találhatjátok:</p>
    <p><b><a href="http://ehok.elte.hu/nu/index.php/rendkivuli-szocialis-tamogatas/" target="_blank">Pályázati kiírás és BNO táblázat</a></b></p>
    <p>A szükséges igazolások listáját, illetve a pályázat egyéb feltételeiről az aktuális információkat az éppen aktuális pályázati kiírásokban találhatjátok meg.</p>
    <p>Kérdés esetén nyugodtan keressetek minket az osztondij@ikhok.elte.hu e-mail címen!</p>
  </div>
</div>
