<div class="container">
  <div class="header">
    <h1>Belépőkártya regisztráció</h1>
  </div>
  <div class="container">
    <h3>Mire jó a belépőkártya?</h3>
    <p>Az ELTE Lágymányosi kampuszának van egy meghatározott nyitvatartási ideje, melyen kívül csak akkor lehet belépni az épületekbe, ha rendelkezel egy aktív belépőkártyával. Ezen kártyán több jogosultság is szerepel attól függően, hogy az épületek mely szolgáltatásait szeretnéd igénybe venni - nyithatja csak az északit, vagy csak a délit, esetleg a Lovardát vagy egy választott termet is akár. Ezen szolgáltatás célja támogatni azon hallgatók tanulmányait, akik különböző okokból kifolyólag szükségelik a Kar számítógépeit vagy azok szoftvereit, melyekhez alapesetben nem férnének hozzá.</p>
    <p>Figyelem! A Hallgatói Önkormányzatnak korlátozott számú belépőkártyája van, így csak erősen indokolt esetben tudunk kártyát biztosítani. Az alábbi regisztrációt követően a visszaigazolás után személyesen be kell jönni az ELTE IK HÖK északi irodájába, és 2000 Ft ellenében kapható meg a kártya - ezt a 2000 Ft-ot a kártya visszadását követően visszatérítjük.</p>
    <p>Kérdés esetén keressetek minket a gazdasag@ikhok.elte.hu e-mail címen!</p>
  </div>
  <div class="register">
      <form id="basicForm" (submit)="onSubmit()">
        <label>Név: </label>
        <input type="text" name="name" ngModel>
        <br>

        <label>Neptun-kód: </label>
        <input type="text" name="neptun" ngModel>
        <br>

        <label>E-mail cím: </label>
        <input type="text" name="email" ngModel>
        <br>

        <label>Diákigazolvány szám: </label>
        <input type="text" name="studentId" ngModel>
        <br>

        <label>Igénylés indoka: </label>
        <textarea name="reason" ngModel rows="3"></textarea>
        <br><br>

        <button type="submit">Küldés</button>
      </form>
  </div>
</div>
