<div class="container">
  <div class="header">
    <h1>Belépőkártya regisztráció</h1>
  </div>
  <div class="container">
    <h3>Mire jó a belépőkártya?</h3>
    <p>Az ELTE Lágymányosi kampuszának van egy meghatározott nyitvatartási ideje, melyen kívül csak akkor lehet belépni az épületekbe, ha rendelkezel egy aktív belépőkártyával. Ezen kártyán több jogosultság is szerepel attól függően, hogy az épületek mely szolgáltatásait szeretnéd igénybe venni - nyithatja csak az északit, vagy csak a délit, esetleg a Lovardát vagy egy választott termet is akár. Ezen szolgáltatás célja támogatni azon hallgatók tanulmányait, akik különböző okokból kifolyólag szükségelik a Kar számítógépeit vagy azok szoftvereit, melyekhez alapesetben nem férnének hozzá.</p>
    <p>Figyelem! A Hallgatói Önkormányzatnak korlátozott számú belépőkártyája van, így csak erősen indokolt esetben tudunk kártyát biztosítani. Az alábbi regisztrációt követően a visszaigazolás után személyesen be kell jönni az ELTE IK HÖK északi irodájába, és 2000 Ft ellenében kapható meg a kártya - ezt a 2000 Ft-ot a kártya visszadását követően visszatérítjük.</p>
    <p>Kérdés esetén keressetek minket a gazdasag@ikhok.elte.hu e-mail címen!</p>
  </div>
  <header>Belépőkártya Regisztráció</header>
  <div class="register">
    <form (ngSubmit)="onSubmit(cardRegisterForm)" #cardRegisterForm="ngForm">
      <div ngModelGroup="cardRegistryGroup" class="group">

      <div>
        <label>Név: </label>
        <input
          type="text"
          [ngModel]="editablePost.fullName"
          name="fullName"
          required>
        <br>
      </div>

      <div>
        <label>Neptun-kód: </label>
        <input
          type="text"
          [ngModel]="editablePost.neptun"
          name="neptun"
          required
          maxlength="6"
          minlength="6">
        <br>
      </div>

      <div>
        <label>E-mail cím: </label>
        <input
          type="email"
          [ngModel]="editablePost.email"
          name="email"
          required
          email>
        <br>
      </div>

      <div>
        <label>Diákigazolvány szám: </label>
        <input
          type="text"
          [ngModel]="editablePost.studentId"
          name="studentId"
          required
          maxlength="11"
          minlength="11"
          pattern="[0-9]+">
        <br>
      </div>

      <div>
        <label>Igénylés indoka: </label>
        <textarea
          [ngModel]="editablePost.reason"
          name="reason"
          rows="3"
          required>
        </textarea>
        <br><br>
      </div>

      <div>
        <button
          type="button"
          class="btn button-main"
          (click)="openModal(template)"
          [disabled]="!cardRegisterForm.valid">Küldés</button>
          <ng-template #template>
            <div class="modal-body text-center">
              <p>Biztosan el szeretnéd menteni a regisztrációdat?</p>
              <button type="submit" class="btn button-sub" (click)="onSubmit(cardRegisterForm)">Igen</button>
              <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
            </div>
          </ng-template>
        </div>

      </div>
    </form>
  </div>
</div>
