h1, h3 {
  color: #13294B;
  margin: auto;
}

h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.header {
  max-width: 85%;
  margin: 50px auto;
}

.container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

ul {
  margin-bottom: 20px;
}

p, li {
  text-align: justify;
}
