<div class="mainClass">
  <div class="header">
    <h1>Kabinet</h1>
  </div>
  <ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#13294b" type = "ball-beat" [fullScreen] = "false"></ngx-spinner>
  <table class="container">
    <div *ngFor="let member of getObject(); let odd=odd;" class="elementContainer">
      <tr *ngIf="odd; else elseBlock">
        <td><div class="contactInfo contactLeft">
          <p class="name"><b>{{ member.name }}</b></p><br>
          <p class="info">{{ member.position }}</p>
          <p class="info">{{ member.email }}</p>
          <div class="iconClass" *ngIf="isAuthenticated && getAuthLevel() == 1">
            <a [routerLink]="['/sidenav/admin/szerkesztes', member.postType, member._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a bejegyzést?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(member._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
        </div></td>
        <td><img class="profilePicture" [src]="member.file" [alt]="member.name"></td>
      </tr>

      <ng-template #elseBlock>
        <td><img class="profilePicture" [src]="member.file" [alt]="member.name"></td>
        <td><div class="contactInfo contactRight">
          <p class="name"><b>{{ member.name }}</b></p><br>
          <p class="info">{{ member.position }}</p>
          <p class="info">{{ member.email }}</p>
          <div class="iconClass" *ngIf="isAuthenticated && getAuthLevel() == 1">
            <a [routerLink]="['/sidenav/admin/szerkesztes', member.postType, member._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a bejegyzést?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(member._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
        </div></td>
      </ng-template>
    </div>
  </table>
</div>
