<div class="mainClass">
  <div class="header">
    <h1>Beszámolók összegzése</h1>
  </div>

  <table class="container">
    <tr>
      <th class="mainHeader" colspan="4">Beszámolók összegzése</th>
    </tr>
    <tr class="filesHeader">
      <th>Év</th>
      <th>Hónap</th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of filterReports()">
      <tr class="filesData" >
        <td>{{data.year}}</td>
        <td>{{data.month}}</td>
        <td>
          <fa-icon [icon]="faView" title="Megtekintés" (click)="onClickView(data.year, data.month)"></fa-icon>
          <fa-icon [icon]="faSummarize" title="Összegzés"></fa-icon>
        </td>
      </tr>
    </ng-container>
  </table>

  <app-beszamolok-osszegzes
    (refreshObjectEvent)="addMonthToSummary($event)"
    [summarizeObject]="monthlyReport || null"
    [ngClass]="{'allowChildView': monthlyReport.length <= 0}">
  </app-beszamolok-osszegzes>
  <div #target class="target"></div>
</div>

