fa-icon {
  color: #13294B;
  padding: 5px;
  cursor: pointer;
}

h1, h3 {
  color: #13294B;
  margin: auto;
}

.header {
  max-width: 65%;
  margin: 50px auto;
}

table {
  border-collapse: collapse;
  page-break-inside:auto;
}

.container {
  width: 70%;
  margin: 30px auto;
  text-align: left;
  border: 1px solid #F1F2F1;
  margin-bottom: 50px;
}

.mainHeader {
  background-color: #13294B;
  color: #FFFFFF;
}


.filesHeader {
  background-color: #F1F2F1;
}

.breakableData {
  word-break: break-word;
}

th {
  text-align: center;
}

td, th{
  padding: 10px;
  max-width: 350px;
  text-align: center;
}

tr:hover {
  background-color: #F1F2F1;
}

.allowChildView{
  display: none;
}

.target {
  margin-top: 300px;
}

