<div class="mainClass">
  <div class="header">
    <h1>Beszámolók összegzése</h1>
  </div>

  <table class="container">
    <tr>
      <th class="mainHeader" colspan="4">Beszámolók összegzése</th>
    </tr>
    <tr class="filesHeader">
      <th>Év</th>
      <th>Hónap</th>
      <th>Beérkezett</th>
      <th>Műveletek</th>
    </tr>
      <tr class="filesData" *ngFor="let data of reportsObject.slice().reverse()">
        <td>{{data.year}}</td>
        <td>{{data.month}}</td>
        <td>{{data.reports.length}}</td>
        <td>
          <fa-icon [icon]="faView" title="Megtekintés" (click)="onClickView(data.reports)"></fa-icon>
          <fa-icon [icon]="faSummarize" title="Összegzés"></fa-icon>
        </td>
      </tr>
  </table>

  <app-beszamolok-osszegzes
    [summarizeObject]="monthlyReport || null"
    [ngClass]="{'allowChildView': monthlyReport.length <= 0}">
  </app-beszamolok-osszegzes>
  <div #target class="target"></div>
</div>

