<div class="mainClass">
  <div class="header">
    <h1>Jegyzőkönyvek</h1>
  </div>
  <table class="container">
    <tr class="filesHeader">
      <th class="centeredClass"><fa-icon [icon]="faFile"></fa-icon></th>
      <th>Név <button (click)="onSortByName()"><fa-icon [icon]="faChevronDown"></fa-icon></button></th>
      <th>Ülés dátuma <button (click)="onSortByMeetingDate()"><fa-icon [icon]="faChevronDown"></fa-icon></button></th>
      <th>Feltöltés dátuma <button (click)="onSortByUploadDate()"><fa-icon [icon]="faChevronDown"></fa-icon></button></th>
      <th class="centeredClass"><fa-icon [icon]="faDownload"></fa-icon></th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let file of filterObject(getObject()) | paginate: { itemsPerPage: 24, currentPage: p }">
      <tr class="filesData" *ngIf="filterData == undefined || filterData.id == file.committee">
        <td *ngIf="getFileExtension(file.title) === '.pdf'; else elseBlock;" class="centeredClass"><fa-icon [icon]="faFilePdf"></fa-icon></td>
        <ng-template #elseBlock><td class="centeredClass"><fa-icon [icon]="faFileZip"></fa-icon></td></ng-template>
        <td>{{file.title}}</td>
        <td>{{file.decisionDate}}</td>
        <td>{{file.date}}</td>
        <td class="centeredClass"><a href="{{file.files}}" download="{{file.title}}">Letöltés</a></td>
        <td class="centeredClass">
          <a [routerLink]="['/sidenav/uj-bejegyzes/szerkesztes', file._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
          <fa-icon [icon]="faDelete" title="Törlés" (click)="deletePost(file._id)"></fa-icon>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
<pagination-controls
(pageChange)="p = $event"
previousLabel="Előző"
nextLabel="Következő"
class="pagination"></pagination-controls>
