<div class="mainClass">
  <div class="header">
    <h1>Saját beszámolók</h1>
  </div>

  <table class="container">
    <tr>
      <th class="mainHeader" colspan="3">Saját beszámolók</th>
    </tr>
    <tr class="filesHeader">
      <th>Év</th>
      <th>Hónap</th>
      <th>Műveletek</th>
    </tr>
      <tr class="filesData" *ngFor="let data of getObject() | paginate: { itemsPerPage: 24, currentPage: p }">
        <td>{{data.year}}</td>
        <td>{{data.month}}</td>
        <td class="centeredClass">
          <a [routerLink]="['/sidenav/uj-bejegyzes/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
          <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
          <ng-template #template>
            <div class="modal-body text-center">
              <p>Biztosan törlöd a bejegyzést?</p>
              <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
              <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
            </div>
          </ng-template>
        </td>
      </tr>
  </table>
</div>
<pagination-controls
(pageChange)="p = $event"
previousLabel="Előző"
nextLabel="Következő"
class="pagination"></pagination-controls>
