button {
  background-color: #13294B;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 0px auto;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button-main {
  display: block;
}

.button-sub {
  padding: 5px 20px;
  margin: 0 10px;
}

button:hover {
  background-color: #236192;
  color: #FFFFFF;
}
