<div class="mainClass">
  <div class="header">
    <h1>Közéleti ösztöndíjak</h1>
  </div>
  <table>
    <tr>
      <th [attr.colspan]="colspan">Közéleti ösztöndíjak</th>
    </tr>
    <tr *ngFor="let member of getObject()" class="membersInfo">
      <td class="nameClass">{{member.name}}</td>
      <td class="amountClass">{{member.amount}}</td>
      <td class="iconClass" *ngIf="isAuthenticated && getAuthLevel() <= 2">
        <a [routerLink]="['/sidenav/admin/szerkesztes', member.postType, member._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
        <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Biztosan törlöd a bejegyzést?</p>
            <button type="button" class="btn button-sub" (click)="deletePost(member._id)">Igen</button>
            <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
