<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="group">

    <div>
      <label>Cím: </label>
      <input
        type="text"
        formControlName="title"
        name="title">
    </div>

    <div>
      <label>Közzététel időpontja: </label>
      <input
        type="date"
        formControlName="date"
        name="postDate">
    </div>
    <div>
      <label></label>
      <input
        type="time"
        formControlName="time"
        name="postTime">
    </div>

    <div>
      <label>Csatolmány: </label>
      <input
        type="file"
        (change)="onFilePicked($event)"
        name="file">
    </div>

    <div>
      <button
        type="button"
        class="btn button-main"
        (click)="openModal(template)"
        [disabled]="!this.form.valid">Küldés</button>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Biztosan el szeretnéd menteni a bejegyzést?</p>
            <button type="submit" class="btn button-sub" (click)="onSubmit()">Igen</button>
            <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
          </div>
        </ng-template>
      </div>
  </div>

</form>
