fa-icon {
  color: #13294B;
}

h1 {
  color: #13294B;
  margin: auto;
}

.header {
  max-width: 55%;
  margin: 50px auto;
}

table {
  border-collapse: collapse;
}

.container {
  width: 70%;
  margin: 30px auto;
  text-align: left;
  border: 1px solid #F1F2F1;
}

.filesHeader {
  background-color: #F1F2F1;
}

.centeredClass{
  text-align: center;
}

.breakableData {
  word-break: break-word;
}

a {
  padding-top: 5px;
  display: block;
  color: #13294B;
  font-weight: bold;
  text-decoration: none;
}

th {
  text-align: center;
}

td, th{
  padding: 5px;
  max-width: 350px;
}

tr:hover {
  background-color: #F1F2F1;
}

button {
  padding: 3px;
  border: none;
  cursor: pointer;
}
