<div class="container">
  <div class="header">
    <h1>Alaptámogatás</h1>
  </div>
  <div class="content">
    <h3>Mi az az Alaptámogatás?</h3>
    <p>Az <b>Alaptámogatás</b> egy egyösszegű ösztöndíjat jelent, mely pályázat útján igényelhető. Pályázni a beiratkozást követő első félév elején lehetséges a Neptun rendszerben abban az esetben, ha a pályázó hallgató most először létesített jogviszonyt felsőoktatási intézménnyel. Alaptámogatásra jogosult lehet, aki: </p>
      <ul>
        <li>fogyatékossággal élő, vagy egészségi állapota miatt rászorult,</li>
        <li>halmozottan hátrányos helyzetű,</li>
        <li>hátrányos helyzetű</li>
        <li>családfenntartó,</li>
        <li>nagycsaládos,</li>
        <li>árva,</li>
        <li>félárva vagy</li>
        <li>gyámsága nagykorúsága miatt szűnt meg.</li>
      </ul>
      <h3>Hogyan lehet rá pályázni?</h3>
      <p>A Neptun rendszerbe belépve az Ügyintézés -> Kérvények -> Kitöltendő kérvények menüpont alatt megtalálhatjátok az Alaptámogatást is, ahol a '+' jelre kattinva kitölthetitek a pályázati kiírásnak megfelelően.</p>
      <p>A pályázati kiírást itt találhatjátok:</p>
      <b><a href="{{file.path}}" download="{{file.name}}">{{file.name}}</a></b>
      <p>Kérdés esetén nyugodtan keressetek minket az osztondij@ikhok.elte.hu e-mail címen!</p>
    </div>
</div>
