
<div class="mainClass">
  <table class="container">
    <tr>
      <th class="mainHeader" colspan="5">Beérkezett beszámolók</th>
    </tr>
    <tr class="filesHeader">
      <th>Év</th>
      <th>Hónap</th>
      <th>Beküldő</th>
      <th>Beküldés ideje</th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of getObject()">
      <tr class="filesData" *ngIf="summarizeObject.length">
        <td>{{data.year}}</td>
        <td>{{data.month}}</td>
        <td>{{data.author}}</td>
        <td>{{data.date}}</td>
        <td class="centeredClass">
          <a [routerLink]="['/sidenav/uj-bejegyzes/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
          <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
          <ng-template #template>
            <div class="modal-body text-center">
              <p>Biztosan törlöd a bejegyzést?</p>
              <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
              <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
