<div class="container">
  <div class="header">
    <h1>Profil</h1>
  </div>
  <header>Felhasználói adatok</header>
  <div class="register">
    <form #adminForm="ngForm">
      <div ngModelGroup="adminGroup" class="group">

        <div>
          <label>Név: </label>
          <input
            type="text"
            [ngModel]="editablePost.fullName"
            name="fullName"
            required>
        </div>

        <div>
          <label>E-mail cím: </label>
          <input
            [ngModel]="editablePost.email"
            name="email"
            required>
        </div>

        <div>
          <button
            type="button"
            class="btn button-main"
            (click)="openModal(template1)"
            [disabled]="!adminForm.valid || getAuthLevel() > 3">Mentés</button>
            <ng-template #template1>
              <div class="modal-body text-center">
                <p>Biztosan el szeretnéd menteni a profilodat?</p>
                <button type="submit" class="btn button-sub" (click)="onSubmitProfile(adminForm)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
          </div>
      </div>

    </form>
  </div>
  <header class="second">Jelszómódosítás</header>
  <div class="register">
    <form #passwordForm="ngForm">
      <div ngModelGroup="passwordGroup" class="group">

      <div>
        <label>Jelenlegi jelszó: </label>
        <input
          type="password"
          ngModel
          name="oldPassword"
          required>
        <br>
      </div>


      <div>
        <label>Új jelszó: </label>
        <input
          type="password"
          ngModel
          name="newPassword"
          required>
        <br>
      </div>

      <div>
        <label>Új jelszó ismét: </label>
        <input
          type="password"
          ngModel
          name="newPasswordAgain"
          required>
        <br>
      </div>

      <div>
        <button
          type="button"
          class="btn button-main"
          (click)="openModal(template2)"
          [disabled]="!passwordForm.valid">Mentés</button>
          <ng-template #template2>
            <div class="modal-body text-center">
              <p>Biztosan el szeretnéd menteni a jelszómódosítást?</p>
              <button type="submit" class="btn button-sub" (click)="onSubmitPassword(passwordForm)">Igen</button>
              <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
 </div>
