<div class="postContainer">
  <ng-container *ngFor="let ules of filterObject(ulesekObject) | paginate: { itemsPerPage: 25, currentPage: p }">
    <div class="post" *ngIf="filterData == undefined || filterData.id == ules.committee">
        <p class="postHeader">
          ELTE IK HÖK {{ getProperty(committeeTypesObject, ules.committee) }} {{ ules.type }} ülés - {{ ules.meetingDate }}
        </p>
        <div class="postContent">
            <p>Tisztelt Küldöttek, Tisztségviselők! Kedves Hallgatók!</p>

            <p>Összehívom az ELTE IK HÖK {{ getProperty(committeeTypesObject, ules.committee) }} {{ ules.type }} ülését.<br>
            <b>Időpont:</b> {{ ules.meetingDate }}<br>
            <b>Helyszín:</b> IK HÖK iroda (1117 Budapest, Pázmány Péter sétány 1/a, -1.66/B).<br></p>

            <p>Az előzetes napirendi pontok a következők:</p>
            <ol>
              <li>Tájékoztató</li>
              <li>Feladatok</li>
              <li>Egyebek</li>
            </ol>
          <p *ngIf="['a','e','i','o','u'].includes(ules.author.charAt(0)); else elseBlock">Az esetleges kimentéseket, illetve napirendipont-módosító javaslatokat az {{ ules.author }} e-mail címre várom.<br></p>
          <ng-template #elseBlock>Az esetleges kimentéseket, illetve napirendipont-módosító javaslatokat a {{ ules.author }} e-mail címre várom.<br></ng-template>

          <p>Tisztelettel,</p>
          <p>{{ ules.author }}</p>
        </div>
        <p class="postData">{{ ules.postDate }}</p>
    </div>
  </ng-container>
</div>
<pagination-controls
(pageChange)="p = $event"
previousLabel="Előző"
nextLabel="Következő"
class="pagination"></pagination-controls>
