<div class="container">
  <div class="header">
    <h1>Bizottságok</h1>
  </div>
  <ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#13294b" type = "ball-beat" [fullScreen] = "false"></ngx-spinner>
  <table *ngFor="let committee of committeesObject">
      <tr>
        <th colspan="3">{{ committee.name }}</th>
      </tr>
      <ng-container *ngFor="let member of getObject()">
        <tr *ngIf="member.firstCommittee == committee.committee" class="membersInfo">
          <td>{{ member.fullName }}</td>
          <td>{{ getPosition(member.firstPosition) }}</td>
          <td *ngIf="member.firstPosition == 'elnok'">{{ member.email }}</td>
        </tr>
        <tr *ngIf="member.secondCommittee == committee.committee" class="membersInfo">
          <td>{{ member.fullName }}</td>
          <td>{{ getPosition(member.secondPosition) }}</td>
          <td *ngIf="member.secondPosition == 'elnok'">{{ member.email }}</td>
        </tr>
      </ng-container>
  </table>
</div>
