<div class="container">
  <div class="header">
    <h1>Bizottságok</h1>
  </div>
  <table *ngFor="let committee of committeesObject">
      <tr>
        <th colspan="3">{{ committee.name }}</th>
      </tr>
      <tr *ngIf="committee.brief.length > 0">
        <td class="committeeBrief" colspan="3">{{ committee.brief }}</td>
      </tr>
      <tr *ngFor="let member of committee.members" class="membersInfo">
        <td>{{ member.name }}</td>
        <td>{{ member.position }}</td>
        <td>{{ member.contact }}</td>
      </tr>
  </table>
</div>
