<div class="mainClass">
  <div class="header">
    <h1>Sorompó adminisztráció</h1>
  </div>
  <table class="container">
    <tr>
      <th class="mainHeader" colspan="12">Sorompó jogosultság kérések</th>
    </tr>
    <tr class="filesHeader">
      <th>Név</th>
      <th>Neptun-kód</th>
      <th>Rendszám</th>
      <th>Típus</th>
      <th>Belépőkártya száma</th>
      <th>Telefonszám</th>
      <th>E-mail cím</th>
      <th>Regisztrált</th>
      <th>Szemeszter</th>
      <th><fa-icon [icon]="faComment"></fa-icon></th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of getObject()">
      <tr class="filesData" *ngIf="!data.isApproved" >
        <td>{{data.fullName}}</td>
        <td>{{data.neptun}}</td>
        <td>{{data.plate}}</td>
        <td>{{data.type}}</td>
        <td>{{data.card}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td>{{data.date}}</td>
        <td>{{data.semester}}</td>
        <td>
          <ng-template #tooltiptemplate>
            <p>{{data.reason}}</p>
          </ng-template>
          <p [tooltip]="tooltiptemplate" triggers="hover" placement="top"><b>[M]</b></p>
        </td>
        <td>
          <a [routerLink]="['/sidenav/admin/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a regisztrációt?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
        </td>
      </tr>
    </ng-container>
  </table>

  <table class="container">
    <tr>
      <th class="mainHeader" colspan="12">Aktív sorompó jogosultságok listája</th>
    </tr>
    <tr class="filesHeader">
      <th>Név</th>
      <th>Neptun-kód</th>
      <th>Rendszám</th>
      <th>Típus</th>
      <th>Belépőkártya száma</th>
      <th>Telefonszám</th>
      <th>E-mail cím</th>
      <th>Regisztrált</th>
      <th>Szemeszter</th>
      <th><fa-icon [icon]="faComment"></fa-icon></th>
      <th>Műveletek</th>
    </tr>
    <ng-container *ngFor="let data of getObject()">
      <tr class="filesData" *ngIf="data.isApproved" >
        <td>{{data.fullName}}</td>
        <td>{{data.neptun}}</td>
        <td>{{data.plate}}</td>
        <td>{{data.type}}</td>
        <td>{{data.card}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td>{{data.date}}</td>
        <td>{{data.semester}}</td>
        <td>
          <ng-template #tooltiptemplate>
            <p>{{data.reason}}</p>
          </ng-template>
          <p [tooltip]="tooltiptemplate" triggers="hover" placement="top"><b>[M]</b></p>
        </td>
        <td>
          <a [routerLink]="['/sidenav/admin/szerkesztes', data.postType, data._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
            <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
            <ng-template #template>
              <div class="modal-body text-center">
                <p>Biztosan törlöd a regisztrációt?</p>
                <button type="button" class="btn button-sub" (click)="deletePost(data._id)">Igen</button>
                <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
              </div>
            </ng-template>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
