<div class="container">
  <div class="header">
    <h1>Büfék, étkezők</h1>
  </div>
  <ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#13294b" type = "ball-beat" [fullScreen] = "false"></ngx-spinner>
  <div class="dataContainer" *ngFor="let canteen of getObject()">
    <div class="postIcons" *ngIf="isAuthenticated && getAuthLevel() == 1">
      <a [routerLink]="['/sidenav/admin/szerkesztes', canteen.postType, canteen._id]"><fa-icon [icon]="faEdit" title="Szerkesztés"></fa-icon></a>
      <fa-icon [icon]="faDelete" title="Törlés" (click)="openModal(template)"></fa-icon>
      <ng-template #template>
        <div class="modal-body text-center">
          <p>Biztosan törlöd a bejegyzést?</p>
          <button type="button" class="btn button-sub" (click)="deletePost(canteen._id)">Igen</button>
          <button type="button" class="btn button-sub" (click)="decline()" >Nem</button>
        </div>
      </ng-template>
    </div>
    <h3>{{canteen.name}}</h3>
    <p>{{canteen.brief}}</p>
    <p>Nyitvatartás:</p>
    <p>{{canteen.openHours}}</p>
  </div>
</div>
