<div class="container">
  <div class="header">
    <h1>Tanulmányi Ösztöndíj</h1>
  </div>
  <div class="content">
    <p>A <b>Tanulmányi ösztöndíj</b> egy havi kiutalású ösztöndíjat jelent, melyre nem szükséges pályázni. Célja azon teljes idejű, nappali képzésen tanuló, a pályázás félévében aktív státuszú hallgatók támogatása, akik az egyetemi tanulmányaik során kiemelkedő tanulmányi eredményt érnek el.</p>
    <p>Amennyiben egy hallgató az adott félévet megelőző lezárt félévben 16 kreditet megszerzett és a Kari Ösztöndíj Bizottság által megállapított minimális kreditindexszet elérte, akkor fél éven keresztül folyósításra kerül számára a kreditindexe alapján meghatározott ösztöndíj.</p>
    <p>Kérdés esetén nyugodtan keressetek minket az osztondij@ikhok.elte.hu e-mail címen!</p>
  </div>
</div>
